@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/nunito-sans-v15-latin-300.woff2") format("woff2"),
    url("../fonts/nunito-sans-v15-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/nunito-sans-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/nunito-sans-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/nunito-sans-v15-latin-600.woff2") format("woff2"),
    url("../fonts/nunito-sans-v15-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../fonts/nunito-sans-v15-latin-800.woff2") format("woff2"),
    url("../fonts/nunito-sans-v15-latin-800.woff") format("woff");
}
